<div class="page-container">
	<div class="container">
		<div class="content-wrapper">
			<div class="text-wrapper">
				<h1 class="header">Welkom</h1>
				<p>
					Zoek je een specifiek contact? Dan ben je hier op de juiste plaats.
					Wil je bellen, mailen of een bericht sturen? Dan kun je dat hier doen.
					Ook is het mogelijk om je contacten toe te voegen aan de Lijst.
					Ga snel aan de slag!
				</p>
			</div>
			<div class="img-wrapper">
				<img src="../../../assets/contactcolorful.png" alt="contact" class="contactlogo">
			</div>
		</div>
	</div>
</div>
